@charset "UTF-8";
html {
  font-family: "Noto Sans JP", sans-serif;
}

.wrap {
  overflow: hidden;
  background-color: #FAF9F7;
}

.cta {
  margin-top: 73px;
  display: inline-block;
  color: #86AC41;
  padding: 18px 68px;
  font-size: 24px;
  border: 3px solid #86AC41;
  border-radius: 48px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 12px 61px 12px 112px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  transition: all 0.3s ease;
}
.header.change-color {
  color: #333333;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header.change-color .header__menu {
  color: #333333;
}
.header__title {
  font-weight: bold;
  font-size: 32px;
}
.header__nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.header__menu li {
  margin-right: 45px;
}
.header__button {
  padding: 12px 46px;
  border-radius: 38px;
  font-weight: bold;
  color: #fff;
  background-color: #67C308;
}

.mv {
  height: 900px;
}
.mv__content {
  height: 800px;
  width: 919px;
  position: absolute;
  top: 0;
  right: 0;
  color: #333333;
}
.mv__title {
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  left: -300px;
  top: 347px;
}
.mv__sub {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: -300px;
  top: 411px;
  margin-top: 8px;
}
.mv__sub span {
  -webkit-text-decoration: underline #67C308;
          text-decoration: underline #67C308;
}
.mv .bg-image {
  background-image: url("/image/bg-mv.jpg");
  background-size: 924px;
  border-radius: 0 0 0 273px;
  height: 800px;
  width: 919px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  overflow: hidden;
}
.mv .bg-image::before {
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  left: -300px;
  top: 347px;
  color: #fff;
  content: "目元から環境に優しく";
  z-index: 1;
}
.mv .bg-image::after {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: -300px;
  top: 419px;
  color: #fff;
  z-index: 1;
  content: "Visionsはメガネを通して社会のサステナビリティを向上させます";
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.swiper {
  width: 100vw;
}

.news {
  position: relative;
}
.news::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "VISIONS NEWS";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
.news .container {
  overflow: visible;
}
.news__list {
  padding-top: 30px;
}
.news__list__item {
  width: 296px;
  margin-right: 55px;
}
.news__list__item:last-child {
  margin-right: 0;
}
.news__list__image {
  height: 227px;
  width: 100%;
  border-radius: 13px;
}
.news__list__info {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.news__list__info .date {
  font-size: 18px;
  height: 28px;
  line-height: 28px;
  color: #939393;
}
.news__list__info .tag {
  background-color: #86AC41;
  color: #fff;
  width: 134px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.news__list__title {
  padding-top: 16px;
  line-height: 1.5em;
}

@-webkit-keyframes animate-bg-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate-bg-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.title {
  font-size: 48px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.title__sub {
  font-size: 28px;
  color: #86AC41;
}

.content__title {
  margin-top: 98px;
  font-size: 36px;
  font-weight: bold;
}
.content__text {
  margin-top: 27px;
  font-size: 24px;
  line-height: 1.5em;
}

.about {
  margin-top: 210px;
  position: relative;
  position: relative;
}
.about::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "ABOUT VISIONS";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
.about__container .title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about__container .title::after {
  height: 5px;
  width: 215px;
  background-color: #86AC41;
  content: "";
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(50%);
}
.about__content {
  width: 475px;
}
.about .thumbnail {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: inline-block;
  width: 50vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.business {
  margin-top: 193px;
  background-color: #86AC41;
  position: relative;
}
.business::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "BUSINESS";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
.business::before {
  top: -27px;
  color: #fff;
  opacity: 0.18;
}
.business .title__sub {
  color: #fff;
}
.business .content__title {
  margin-top: 64px;
}
.business__container {
  padding-top: 228px;
  padding-bottom: 175px;
  color: #fff;
}
.business .container-r {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.business__content {
  width: 576px;
}
.business .cta {
  color: #fff;
  border: 3px solid #fff;
}
.business .thumbnail-box::after {
  content: "";
  display: inline-block;
  height: 480px;
  width: 660px;
  position: absolute;
  z-index: 10;
  top: 268px;
  left: -40px;
  border: 10px solid #fff;
  border-radius: 0 144px 144px 0;
}
.business .thumbnail {
  height: 480px;
  width: 650px;
  position: absolute;
  top: 248px;
  left: -50px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 144px 144px 0;
}

.footer {
  height: 300px;
  color: #fff;
  background-color: #666666;
  position: relative;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  height: 154px;
}
.footer__title {
  font-size: 40px;
  font-weight: bold;
}
.footer__sub {
  display: inline-block;
  font-size: 18px;
  margin-top: 11px;
}
.footer .sns-icons {
  margin-top: 26px;
}
.footer .sns-icons svg {
  margin-right: 11px;
  cursor: pointer;
}
.footer .sns-icons svg:last-child {
  margin-right: 0;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(3, 27px);
  text-align: right;
  gap: 36px 54px;
}
.footer__menu li:nth-child(3) {
  margin-bottom: 0;
}
.footer__menu li:last-child {
  margin-bottom: 0;
}
.footer .copyrights {
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */