@charset "UTF-8";
html {
  font-family: "Noto Sans JP", sans-serif;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeUpSm {
  animation-name: fadeUpAnimeSm;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3s;
}

@keyframes fadeUpAnimeSm {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

.top-page .fadeDown {
  animation-delay: 3.5s;
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideTopRight {
  animation-name: slideTopRightAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transform: translate(100% 100%);
}

@keyframes slideTopRightAnime {
  from {
    transform: translate(100px, -100px);
  }
  to {
    transform: translate(0);
  }
}
.float {
  animation: floatAnime 5s infinite;
}
.float-delay-1 {
  animation: floatAnime 5.5s infinite;
  animation-delay: 0.5s;
}
.float-delay-2 {
  animation: floatAnime 4.5s infinite;
  animation-delay: 0.2s;
}

@keyframes floatAnime {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.wrap {
  position: relative;
  overflow: hidden;
  background-color: #FAF9F7;
  max-width: 2500px;
  margin: 0 auto;
} /***************************************************
 media
***************************************************/
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #86AC41;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__logo {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content__title {
  font-size: 48px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  opacity: 1;
}
.content__title::after {
  height: 5px;
  width: 215px;
  background-color: #86AC41;
  content: "";
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(50%);
}
.content__title--center {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
.content__title__sub {
  display: inline-block;
  width: 475px;
  font-size: 28px;
  color: #86AC41;
}
.content__title__sub--center {
  font-size: 18px;
  color: #86AC41;
  display: block;
  text-align: center;
}
.content__box {
  position: relative;
  width: 475px;
  max-width: 576px;
}
.content__box__title {
  margin-top: 98px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5em;
}
.content__box__text {
  margin-top: 27px;
  font-size: 24px;
  line-height: 1.5em;
}

/***************************************************
 other html file
***************************************************/
/***************************************************
 tab
***************************************************/
@media screen and (max-width: 1024px) {
  .content__title__sub {
    width: 100%;
  }
  .content__title::after {
    display: none;
  }
  .content__box {
    width: 100%;
  }
  .content__box__title {
    margin-top: 0;
  }
}
/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .content__title {
    font-size: 36px;
  }
  .content__title--center {
    font-size: 32px;
  }
  .content__title__sub {
    font-size: 16px;
  }
  .content__title__sub--center {
    font-size: 16px;
  }
  .content__box {
    width: 100%;
  }
  .content__box__title {
    font-size: 32px;
  }
  .content__box__text {
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.5em;
  }
}
/***************************************************
 424px
***************************************************/
@media screen and (max-width: 424px) {
  .content__title {
    font-size: 32px;
  }
  .content__box__title {
    font-size: 24px;
    margin-top: 24px;
    letter-spacing: 0.5px;
  }
  .content__box__text {
    font-size: 16px;
    margin-top: 11px;
    letter-spacing: 0.5px;
  }
}
.cta {
  margin-top: 73px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: #86AC41;
  padding: 18px 68px;
  font-size: 24px;
  border: 1px solid #86AC41;
  border-radius: 48px;
  transition: letter-spacing 0.3s ease-in-out;
}
.cta:hover {
  letter-spacing: 1px;
}
.cta:active {
  color: #fff;
  background-color: #86AC41;
}

/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .cta {
    margin: 0 auto;
    margin-top: 30px;
    padding: 16px 40px;
    font-size: 16px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 60px;
  z-index: 9999;
  width: 100%;
  max-width: 2500px;
  transition: all 0.3s ease;
}
.header.change-color {
  color: #333333;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header.change-color .header__menu {
  color: #333333;
}
.header__title {
  font-weight: bold;
  font-size: 32px;
  padding-left: 112px;
}
.header__nav {
  padding-left: 38px;
  padding-right: 38px;
  width: 63vw;
  max-width: 1540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-direction: row;
  color: #fff;
}
.header__menu li {
  margin-right: 40px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.header__menu li:hover {
  color: #86AC41;
  transform: scale(1.1);
}
.header__button {
  padding: 15px 15px 15px 28px;
  border-radius: 38px;
  font-weight: bold;
  color: #fff;
  background-color: #67c308;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.header__button svg {
  width: 20px;
  height: 17px;
}
.header__button .online-shop {
  font-size: 16px;
}
.header__button:hover {
  background-color: #71da08;
}
.header__button:active {
  background-color: rgba(102, 195, 8, 0.768627451);
}
.header__nav__button {
  display: none;
}

/***************************************************
1360px
***************************************************/
@media screen and (max-width: 1360px) {
  .header__menu li {
    margin-right: 32px;
  }
}
/***************************************************
 1317px
***************************************************/
@media screen and (max-width: 1317px) {
  .header__menu li {
    margin-right: 28px;
  }
}
/***************************************************
 1239px
***************************************************/
@media screen and (max-width: 1239px) {
  .header__nav {
    padding-left: 30px;
  }
  .header__menu li {
    margin-right: 16px;
  }
}
/***************************************************
 1143px
***************************************************/
@media screen and (max-width: 1143px) {
  .header__nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__menu li {
    margin-right: 16px;
  }
  .header__button {
    gap: 5px;
  }
}
/***************************************************
 1057px
***************************************************/
@media screen and (max-width: 1057px) {
  .header__menu li {
    margin-right: 12px;
  }
}
/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .header {
    /***************************************************
    ナビゲーションメニュー
    ***************************************************/
    /***************************************************
    ナビゲーションボタン 
    ***************************************************/
  }
  .header__title {
    padding-left: 70px;
    color: #fff;
  }
  .header.change-color .header__title {
    color: #333333;
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: 120%;
    z-index: 999;
    background-color: #86AC41;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all ease 0.5s;
  }
  .header__menu.active {
    top: 0;
    left: 0;
  }
  .header__menu::before {
    color: #fff;
    content: "Visions";
    font-size: 32px;
    font-weight: bold;
  }
  .header__menu li {
    color: #fff;
  }
  .header__menu li:hover {
    color: #fff;
  }
  .header__button {
    padding: 0;
    border-radius: 0;
    width: 70px;
    height: 60px;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 9999;
    right: 60px;
  }
  .header__button svg {
    height: 33px;
    width: 33px;
  }
  .header__button .online-shop,
  .header__button .angle {
    display: none;
  }
  .header__nav__button {
    display: inline-block;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .header__nav__button span {
    height: 4px;
    width: 35px;
    position: absolute;
    background-color: #86AC41;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.3s;
  }
  .header__nav__button span:nth-child(1) {
    top: 18px;
  }
  .header__nav__button span:nth-child(2) {
    top: 28px;
  }
  .header__nav__button span:nth-child(3) {
    top: 38px;
  }
  .header__nav__button.active span:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .header__nav__button.active span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  .header__nav__button.active span:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .header__title {
    padding-left: 20px;
  }
}
/***************************************************
 other
***************************************************/
.news-html .header__title,
.contact-html .header__title,
.business-html .header__title,
.about-html .header__title {
  color: #fff;
}
.news-html .header.change-color .header__title,
.contact-html .header.change-color .header__title,
.business-html .header.change-color .header__title,
.about-html .header.change-color .header__title {
  color: #333333;
}

.recruit-page .header {
  color: #333333;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}
.recruit-page .header__title {
  color: #333333;
}
.recruit-page .header .header__menu {
  color: #333333;
}

.mv {
  height: 900px;
  min-height: 650px;
}
.mv__content {
  height: 800px;
  width: 63vw;
  position: absolute;
  top: 0;
  right: 0;
  color: #333333;
  max-width: 1540px;
  min-height: 650px;
}
.mv__title {
  font-size: 56px;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  left: -343px;
  top: 353px;
}
.mv__sub {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: -334px;
  top: 432px;
  margin-top: 8px;
  letter-spacing: 1px;
}
.mv__sub .fadeUpsm {
  animation-delay: 2.8s;
}
.mv .bg-image {
  background-image: url("../image/mv-img_compressed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 273px;
  height: 800px;
  width: 63vw;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  overflow: hidden;
  max-width: 1540px;
  min-height: 650px;
}
.mv .bg-image::before {
  font-size: 56px;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  left: -343px;
  top: 353px;
  color: #fff;
  content: "目元から環境に優しく";
  z-index: 1;
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 2.5s;
}
.mv .bg-image::after {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: -337px;
  top: 441px;
  letter-spacing: 1px;
  color: #fff;
  z-index: 1;
  content: "Visionsはメガネを通して社会のサステナビリティを向上させます";
  animation-name: fadeUpAnimeSm;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3s;
}

.grasses {
  position: absolute;
  top: 244px;
  left: -412px;
  display: none;
}

.br-sp {
  display: none;
}

/***************************************************
 1250px
***************************************************/
@media screen and (max-width: 1250px) {
  .mv__title {
    left: -200px;
  }
  .mv__sub {
    left: -200px;
  }
  .mv .bg-image::before {
    left: -200px;
  }
  .mv .bg-image::after {
    left: -200px;
  }
  .grasses {
    left: -362px;
  }
}
/***************************************************
 1150px
***************************************************/
@media screen and (max-width: 1150px) {
  .mv__title {
    left: -250px;
  }
  .mv__sub {
    left: -250px;
  }
  .mv .bg-image::before {
    left: -250px;
  }
  .mv .bg-image::after {
    left: -200px;
  }
  .grasses {
    left: -312px;
  }
}
/***************************************************
 tab
***************************************************/
@media screen and (max-width: 1024px) {
  .mv {
    height: 100vh;
  }
  .mv__content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mv__title {
    font-size: 48px;
    color: #fff;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 20;
  }
  .mv__sub {
    color: #fff;
    text-align: center;
    padding-right: 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    line-height: 1.5em;
  }
  .mv .bg-image {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    background-position: center -25px;
  }
  .mv .bg-image::before {
    display: none;
  }
  .mv .bg-image::after {
    display: none;
  }
  .green-underline {
    -webkit-text-decoration: underline wavy #67C308;
            text-decoration: underline wavy #67C308;
  }
  .grasses {
    display: none;
  }
  .br-sp {
    display: inline;
  }
}
/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .mv__title {
    font-size: 40px;
  }
  .mv__sub {
    font-size: 24px;
  }
  .mv .bg-image {
    background-size: cover;
    background-position: center;
  }
}
/***************************************************
 480px
***************************************************/
@media screen and (max-width: 480px) {
  .mv__title {
    font-size: 32px;
  }
  .mv__sub {
    font-size: 16px;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  /***************************************************
  992px
  ***************************************************/
  /***************************************************
    1024px
  ***************************************************/
  /***************************************************
    768px
  ***************************************************/
  /***************************************************
    576px
  ***************************************************/
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .action .container {
    max-width: 615px;
  }
}
.swiper {
  width: 100%;
}

.news {
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
  overflow: visible;
}
.news::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "VISIONS NEWS";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .news::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .news::before {
    font-size: 80px;
    top: -48px;
  }
}
.news .container {
  overflow: visible;
  padding: 0 20px;
}
.news .swiper {
  overflow: visible;
}
.news__list {
  padding-top: 30px;
}
.news__list__item {
  width: 296px;
  margin-right: 55px;
  transition: all ease 0.3s;
}
.news__list__item:last-child {
  margin-right: 0;
}
.news__list__item:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.news__list__image {
  height: 227px;
  width: 100%;
  border-radius: 13px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__list__info {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.news__list__info .date {
  font-size: 18px;
  height: 28px;
  line-height: 28px;
  color: #939393;
}
.news__list__info .tag {
  background-color: #86AC41;
  color: #fff;
  width: 134px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.news__list__title {
  padding-top: 16px;
  line-height: 1.5em;
}

@keyframes animate-bg-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/***************************************************
 tab
***************************************************/
@media screen and (max-width: 1024px) {
  .news {
    margin-top: 88px;
  }
}
/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .news {
    margin-top: 72px;
  }
}
.title {
  font-size: 48px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
.title__sub {
  display: inline-block;
  font-size: 28px;
  color: #86AC41;
}

/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .title {
    font-size: 32px;
  }
  .title__sub {
    font-size: 16px;
  }
}
.about {
  margin-top: 210px;
  position: relative;
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
}
.about::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "ABOUT VISIONS";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .about::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .about::before {
    font-size: 80px;
    top: -48px;
  }
}
.about .thumbnail {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: inline-block;
  width: 50vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1240px;
}

.leaf {
  position: absolute;
  top: 344px;
  left: 296px;
}
.leaf path {
  fill: #86AC41;
}

/***************************************************
 tab
***************************************************/
@media screen and (max-width: 1024px) {
  .about {
    display: grid;
    gap: 64px;
  }
  .about .container {
    max-width: 615px;
  }
  .about__title {
    width: 100%;
  }
  .about .thumbnail {
    position: relative;
    margin-left: auto;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 300px;
    grid-row: 2/2;
  }
  .leaf {
    top: 305px;
  }
}
/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .about {
    margin-top: 86px;
    gap: 32px;
  }
  .about .thumbnail {
    padding: 0 20px;
    height: 240px;
  }
  .about .content__box__title {
    margin-top: 0;
  }
  .leaf {
    top: auto;
    bottom: -14px;
    left: 70vw;
  }
}
.business {
  margin-top: 245px;
  background-color: #86AC41;
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
  display: grid;
  grid-template-columns: 48vw 50vw;
}
.business::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "BUSINESS";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .business::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .business::before {
    font-size: 80px;
    top: -48px;
  }
}
.business::before {
  top: -27px;
  color: #fff;
  opacity: 0.18;
}
.business__title {
  padding: 0;
  margin-top: 229px;
  letter-spacing: 1px;
  display: block;
  width: 100%;
}
.business__container {
  grid-column: 2/3;
  padding-bottom: 175px;
  color: #fff;
}
.business .container-r {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.business .content__title {
  display: block;
  color: #fff;
}
.business .content__title::after {
  background-color: #fff;
}
.business .content__title__sub {
  display: block;
  color: #fff;
  margin-top: 13px;
}
.business .content__box {
  width: auto;
}
.business .content__box__title {
  margin-top: 64px;
  letter-spacing: 1px;
}
.business .content__box__text {
  letter-spacing: 0.7px;
}
.business .cta {
  color: #fff;
  border: 1px solid #fff;
}
.business .thumbnail-box {
  grid-row: 1/3;
}
.business .thumbnail-box::after {
  content: "";
  display: inline-block;
  height: 482px;
  width: 45vw;
  position: absolute;
  z-index: 10;
  top: 277px;
  left: -40px;
  border: 10px solid #fff;
  border-radius: 0 144px 144px 0;
}
.business .thumbnail {
  height: 478px;
  width: 40.5vw;
  position: relative;
  margin-top: 256px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 144px 144px 0;
  max-width: 1240px;
}

.leaf-white {
  position: absolute;
  top: 237px;
  right: -98px;
}

/***************************************************
 tab
***************************************************/
@media screen and (max-width: 1024px) {
  .business {
    grid-template-columns: auto;
    margin-top: 136px;
    gap: 64px;
  }
  .business .container {
    max-width: 615px;
  }
  .business__title {
    padding: 0 20px;
    grid-row: 1/2;
    margin-top: 65px;
  }
  .business__container {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .business .content__box {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 615px;
  }
  .business .content__box__title {
    margin-top: 0;
  }
  .business .thumbnail-box {
    width: 100vw;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .business .thumbnail-box::after {
    display: none;
  }
  .business .thumbnail {
    width: 100%;
    height: 300px;
    border-radius: 0;
    margin-top: 0;
  }
  .business .leaf-white {
    top: 313px;
    right: 28px;
    height: 144px;
  }
}
/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .business {
    margin-top: 64px;
    gap: 32px;
  }
  .business::before {
    top: 13px;
  }
  .business__container {
    padding-bottom: 80px;
  }
  .business .thumbnail {
    padding: 0 20px;
    height: 240px;
  }
  .business .leaf-white {
    display: none;
  }
}
.brand {
  margin-top: 317px;
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
  display: grid;
  grid-template-columns: 57vw 43vw;
  grid-template-rows: 142px 90px 455px;
}
.brand::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "OUR BRAND";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .brand::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .brand::before {
    font-size: 80px;
    top: -48px;
  }
}
.brand__title {
  grid-row: 1/2;
}
.brand__sub {
  grid-row: 2/3;
}
.brand__sub .brand-name {
  display: block;
  width: 475px;
  max-width: 576px;
}
.brand__container {
  grid-row: 3/4;
}
.brand .content__box {
  letter-spacing: 0.5px;
}
.brand .content__box__title {
  width: 511px;
  margin-top: 86px;
}
.brand .thumbnail-box {
  grid-row: 1/4;
  position: relative;
}
.brand .thumbnail-box::before {
  display: block;
  content: "";
  background-color: #C2C29E;
  height: 31.3vw;
  width: 44.9vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
.brand .thumbnail {
  display: inline-block;
  position: absolute;
  width: 41.8vw;
  bottom: 0;
}
.brand .cta {
  margin-top: 70px;
  padding: 18px 43px;
}

.brand-name {
  display: block;
  font-family: "Allura", cursive;
  font-size: 79px;
  margin-top: 18px;
  letter-spacing: 0.5px;
}

/***************************************************
 tab
***************************************************/
@media screen and (max-width: 1024px) {
  .brand {
    grid-template-columns: 100vw;
  }
  .brand .container {
    max-width: 615px;
  }
  .brand__title {
    grid-row: 1/2;
    width: 100%;
  }
  .brand__sub {
    grid-row: 2/3;
    width: 100%;
  }
  .brand__container {
    grid-row: 4/5;
  }
  .brand .content__box__title {
    width: auto;
  }
  .brand .thumbnail-box {
    width: 100%;
    grid-row: 3/4;
    max-width: 615px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .brand .thumbnail-box::before {
    width: 100%;
  }
  .brand .thumbnail {
    width: 438px;
    right: 0;
  }
}
/***************************************************
 550px
***************************************************/
@media screen and (max-width: 550px) {
  .brand {
    margin-top: 215px;
    grid-template-rows: 49px 90px 334px auto;
  }
  .brand .content__box__title {
    margin-top: 30px;
  }
  .brand .thumbnail-box::before {
    width: 74.8vw;
    margin: 0 20px;
    height: 52.3vw;
  }
  .brand .thumbnail {
    width: 274px;
    max-width: 100%;
    right: 28px;
  }
  .brand .cta {
    margin-top: 33px;
    padding: 16px 27px;
    font-size: 16px;
  }
  .business-html .brand {
    margin-top: 147px;
  }
}
.recruit {
  margin-top: 124px;
  text-align: center;
  background-image: url("https://github.com/kuwa-9710/visions_lunettes/blob/main/image/bg-recruit.jpg?raw=true");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: rgba(128, 128, 128, 0.1529411765);
}
.recruit .bg-blur {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.recruit .title {
  padding-top: 64px;
  color: #fff;
  text-align: center;
  width: 100%;
}
.recruit .title__sub {
  color: #42D76C;
}
.recruit__text {
  padding-top: 28px;
  font-size: 29px;
  font-weight: bold;
  line-height: 1.5em;
  color: #fff;
  letter-spacing: 1px;
}
.recruit .buttons {
  width: 567px;
  margin: 0 auto;
  padding: 69px 0 114px 0;
  display: flex;
  justify-content: space-between;
}
.recruit__cta {
  color: #fff;
  display: inline-block;
  border-radius: 95px;
  font-size: 24px;
  background-color: #42D76C;
  padding: 18px 68px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1450980392);
}

/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .recruit .title {
    padding-top: 0;
  }
  .recruit__text {
    font-size: 16px;
    padding-top: 40px;
  }
  .recruit .container {
    padding: 75px 0;
  }
  .recruit .buttons {
    flex-direction: column;
    width: 100%;
    gap: 24px;
    padding: 0;
    padding-top: 40px;
  }
  .recruit__cta {
    width: 185px;
    margin: 0 auto;
    font-size: 16px;
    padding: 12px 60px;
  }
}
/***************************************************
 その他
***************************************************/
.about-html .recruit,
.recruit-page .recruit {
  margin-top: 0;
}

.top {
  height: 422px;
  background-position: center;
  background-size: cover;
}
.top__container {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.top__container__title {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 2;
}
.top__container__sub {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 2;
}

.news-html .top {
  background-image: url("../image/bg-news.jpg");
}

.contact-html .top {
  background-image: url("../image/bg-recruit.jpg");
}

.business-html .top {
  background-image: url("../image/business-image.jpg");
}

.about-html .top {
  background-image: url("../image/about-image.jpg");
}

.category {
  margin: 0 auto;
  margin-top: 98px;
  max-width: 936px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.category__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.category__title h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.category__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
}
.category__btn .active {
  background-color: #86AC41;
  color: #fff;
  padding: 0 8px;
  line-height: 1.5em;
}
.category__btn span {
  cursor: pointer;
}
.category__contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.category__tab {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.category__tab__number {
  display: inline-block;
  text-align: center;
  line-height: 34px;
  color: #666666;
  width: 30px;
  height: 34px;
  border: 1px solid #666666;
  cursor: pointer;
}
.category__tab__number.active {
  border: none;
  color: #fff;
  background-color: #86AC41;
}

.card {
  width: 300px;
  background-color: #fff;
  padding-bottom: 15px;
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.11);
}
.card__image {
  width: 100%;
  height: 194px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__info {
  margin-top: 16px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 12px;
  line-height: 1.8em;
}
.card__tag {
  background-color: #86AC41;
  color: #fff;
  padding: 0 12px;
}
.card__date {
  color: #898989;
}
.card__title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0 12px;
  height: 63px;
}
.card__more {
  margin-top: 22px;
  display: block;
  padding: 0 12px;
  text-align: right;
  font-size: 14px;
  color: #8c8c8c;
}

/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .category {
    padding: 0 20px;
  }
  .category__image {
    height: 215px;
  }
  .category__contents {
    justify-content: center;
    gap: 32px;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .category__btn {
    gap: 8px;
  }
  .category__btn span {
    font-size: 14px;
  }
  .card {
    width: 350px;
  }
}
.contact {
  max-width: 840px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 143px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.contact label,
.contact input,
.contact textarea {
  display: block;
  font-size: 24px;
}
.contact input {
  background-color: #fff;
  width: 100%;
  height: 52px;
  border: 1px solid #777777;
  border-radius: 14px;
  padding: 8px 16px;
}
.contact input::-moz-placeholder {
  color: #e4e4e4;
}
.contact input::placeholder {
  color: #e4e4e4;
}
.contact textarea {
  background-color: #fff;
  width: 100%;
  border: 1px solid #777777;
  border-radius: 14px;
  padding: 8px 16px;
}
.contact__btn {
  background-color: #fff;
  font-size: 16px;
  border: 1px solid #000000;
  width: 200px;
  padding: 18px 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 113px;
  transition: all 0.3s ease-in-out;
}
.contact__btn:hover {
  background-color: #000000;
  color: #fff;
}

/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .contact {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .contact label,
  .contact input,
  .contact textarea {
    font-size: 20px;
  }
  .contact__btn {
    margin-top: 40px;
  }
}
.action {
  margin-top: 128px;
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
}
.action::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "OUR ACTION";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .action::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .action::before {
    font-size: 80px;
    top: -48px;
  }
}
.action::before {
  top: -150px;
}
.action__container {
  position: absolute;
  z-index: 11;
  top: 140px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.action__title__1, .action__title__2 {
  font-weight: bold;
  font-size: 48px;
  display: inline-block;
  padding: 11px 78px;
  background-color: #fff;
  margin-right: 19.7vw;
}
.action__title__2 {
  margin-top: 34px;
}
.action__text {
  margin-top: 40px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  width: 398px;
  line-height: 1.8em;
  margin-right: 11.6vw;
}
.action__cards {
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.action__card {
  width: 314px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 55px;
  text-align: center;
}
.action__card__title {
  position: relative;
  font-size: 37px;
  font-weight: bold;
}
.action__card__title::before {
  content: "01";
  position: absolute;
  top: -38px;
  left: -31px;
  color: #86AC41;
  font-size: 50px;
  font-family: "Nothing You Could Do", cursive;
  transform: rotate(-13.5deg);
}
.action__card:nth-child(2) .action__card__title::before {
  content: "02";
}
.action__card:nth-child(2) .action__card__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.action__card:nth-child(3) .action__card__title::before {
  content: "03";
}
.action__card:nth-child(3) .action__card__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.action__card__img {
  height: 221px;
  width: 135px;
}
.action__card__text {
  font-size: 24px;
  line-height: 1.5em;
}

.wrapper {
  margin-top: 143px;
  position: relative;
}

.action-thumbnail {
  position: relative;
}
.action-thumbnail img {
  position: relative;
  width: 55vw;
  z-index: 10;
}
.action-thumbnail::after {
  content: "";
  width: 76vw;
  position: absolute;
  top: 70px;
  right: 0;
  border-bottom: 649px solid #86AC41; /* 高さ */
  border-left: 253px solid transparent; /* 左側の角度 */
}

.br-tab {
  display: none;
}

/***************************************************
 1270px
***************************************************/
@media screen and (max-width: 1270px) {
  .action__title__1, .action__title__2 {
    margin-right: 12vw;
  }
  .action__text {
    margin-right: 6vw;
  }
  .action__cards {
    margin-top: 300px;
  }
  .action-thumbnail::after {
    border-bottom: 570px solid #86ac41;
  }
}
/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .action__title__1, .action__title__2 {
    margin-right: 0;
    padding: 11px 64px;
    font-size: 40px;
  }
  .action__container {
    position: relative;
    transform: translateY(-360px);
  }
  .action__text {
    margin-top: 168px;
    color: #000000;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
  .action__cards {
    margin-top: 0;
    flex-direction: column;
    gap: 104px;
    align-items: center;
    transform: translateY(-64px);
  }
  .action__card {
    width: 400px;
  }
  .action-thumbnail img {
    width: 65vw;
  }
  .action-thumbnail::after {
    border-bottom: 50vw solid #86ac41;
  }
  .br-tab {
    display: inline;
  }
}
@media screen and (max-width: 800px) {
  .action__title__1, .action__title__2 {
    font-size: 32px;
  }
  .action__text {
    margin-top: 120px;
  }
  .action-thumbnail img {
    width: 67vw;
  }
  .action-thumbnail::after {
    border-bottom: 46vw solid #86ac41;
  }
}
@media screen and (max-width: 710px) {
  .aciton__text {
    margin-top: 140px;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .action {
    margin-top: 70px;
  }
  .action__container {
    top: 276px;
  }
  .action__title__1, .action__title__2 {
    padding: 5px 15px;
    font-size: 28px;
    line-height: 1.5em;
  }
  .action__title__2 {
    margin-top: 11px;
  }
  .action__text {
    font-size: 18px;
    margin-top: 52px;
  }
  .action .wrapper {
    margin-top: 68px;
  }
  .action__cards {
    margin-top: 34px;
    gap: 94px;
    transform: translateY(0);
  }
  .action__card {
    width: 350px;
    gap: 40px;
  }
  .action__card__title {
    font-size: 24px;
  }
  .action__card__img {
    height: 175px;
    width: 107px;
  }
  .action__card__text {
    font-size: 18px;
  }
  .action__card:nth-child(2) .action__card__img {
    width: 299px;
  }
  .action-thumbnail img {
    width: 78vw;
  }
  .action-thumbnail::after {
    width: 81vw;
    top: 30px;
    border-bottom: 61vw solid #86ac41;
    border-left: 56px solid transparent;
  }
  .br-tab {
    display: inline;
  }
}
@media screen and (max-width: 450px) {
  .action__container {
    top: 300px;
  }
  .action__title__1, .action__title__2 {
    font-size: 20px;
  }
  .action__text {
    font-size: 16px;
  }
}
.mission {
  position: relative;
  background-image: url("../image/about-mission-bg.jpg");
  background-size: cover;
  min-height: 555px;
  padding-top: 55px;
}
.mission .content__title--center {
  color: #fff;
}
.mission .content__title__sub--center {
  color: #fff;
}
.mission__text {
  margin-top: 54px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
}
.mission__text:last-child {
  margin-top: 40px;
}
.mission__grasses {
  position: absolute;
  top: 4px;
  left: 10.4vw;
}
.mission__leaf {
  position: absolute;
  bottom: 55px;
  right: 8.4vw;
}

/***************************************************
 1150px
***************************************************/
@media screen and (max-width: 1150px) {
  .mission__grasses {
    width: 200px;
    left: 8vw;
  }
  .mission__leaf {
    width: 141px;
    bottom: 7px;
    right: 6vw;
  }
}
/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .mission {
    padding-top: 69px;
  }
  .mission__text {
    margin-top: 32px;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.7em;
  }
  .mission__text:last-child {
    margin-top: 25px;
  }
  .mission__grasses {
    left: 0;
    top: 0;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .mission__text {
    font-size: 16px;
  }
  .mission__grasses {
    top: -45px;
    width: 144px;
  }
  .mission__leaf {
    width: 80px;
    bottom: 0;
    right: 7vw;
  }
}
.ceo {
  margin-top: 236px;
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 705px 388px;
  grid-template-rows: 65px 542px;
  justify-content: center;
}
.ceo::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "MESSAGE";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .ceo::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .ceo::before {
    font-size: 80px;
    top: -48px;
  }
}
.ceo .content__title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 56px;
}
.ceo .content__box {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 494px;
}
.ceo .content__box__title {
  font-size: 49px;
  margin-top: 104px;
  width: 434px;
}
.ceo .content__box__text {
  margin-top: 40px;
  line-height: 1.7em;
}
.ceo .thumbnail-box {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
}
.ceo .thumbnail-box .thumbnail {
  margin-left: auto;
  position: relative;
  z-index: 10;
}
.ceo .thumbnail-box::before {
  content: "";
  width: 517px;
  height: 341px;
  background-color: #c2c29e;
  position: absolute;
  bottom: 95px;
  right: 0;
}

/***************************************************
 1200px
***************************************************/
@media screen and (max-width: 1200px) {
  .ceo {
    grid-template-columns: 605px 388px;
  }
  .ceo .thumbnail-box::before {
    width: 417px;
    height: 300px;
  }
}
/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .ceo {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 94px;
  }
  .ceo .content__title {
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
    font-size: 32px;
    order: 1;
  }
  .ceo .content__box {
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
    order: 2;
  }
  .ceo .content__box__title {
    margin-top: 32px;
    width: 100%;
    font-size: 32px;
  }
  .ceo .content__box__text {
    margin-top: 12px;
    font-size: 20px;
  }
  .ceo .thumbnail-box {
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
    margin-top: 36px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ceo .thumbnail-box::before {
    height: 171px;
    width: 100%;
  }
  .ceo .thumbnail-box .thumbnail {
    height: 327px;
    margin-left: 0;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .ceo .content__box__text {
    font-size: 16px;
  }
}
.company {
  margin-top: 197px;
}
.company__table {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 130px;
}
.company__table__title {
  width: 35%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.company__table__title:last-child {
  margin-bottom: 0;
}
.company__table__text {
  width: 65%;
  font-size: 24px;
}

/***************************************************
 media:tab
***************************************************/
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .company {
    margin-top: 76px;
  }
  .company .content__title__sub--center {
    margin-top: 16px;
  }
  .company__table {
    margin-top: 54px;
  }
  .company__table__title, .company__table__text {
    font-size: 16px;
  }
  .company__table__title {
    width: 24%;
    margin-bottom: 44px;
  }
  .company__table__text {
    width: 76%;
    padding-left: 10px;
  }
}
.map {
  width: 100%;
  margin-top: 104px;
}
.map img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .map img {
    height: 400px;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .map img {
    height: 192px;
  }
}
.l-main {
  position: relative;
  height: 100vh;
  min-height: 773px;
  max-height: 773px;
}
.l-main__title {
  position: absolute;
  bottom: 75px;
  z-index: 10;
}
.l-main__title h2 {
  font-size: 48px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 49px 6px 194px;
  background-color: #fff;
}
.l-main__title h2:last-child {
  margin-top: 19px;
}
.l-main__title::after {
  content: "JOIN US";
  font-family: "Nothing You Could Do", cursive;
  font-size: 45px;
  color: #42D76C;
  position: absolute;
  top: -34px;
  left: 91px;
  transform: rotate(-13.5deg);
}
.l-main__bg {
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0;
  right: 0;
}
.l-main__bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 0px 0px 174px;
}

/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .l-main__title {
    left: 20px;
  }
  .l-main__title h2 {
    padding: 7px 19px;
  }
  .l-main__title::after {
    left: -7px;
  }
  .l-main__bg {
    width: 100%;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .l-main__title h2 {
    font-size: 32px;
  }
  .l-main__title::after {
    font-size: 32px;
  }
}
.l-interview {
  margin-top: 168px;
  background-color: #fff;
  position: relative;
  /***************************************************
   tab
  ***************************************************/
  /***************************************************
   sp
  ***************************************************/
}
.l-interview::before {
  position: absolute;
  z-index: 1;
  top: -200px;
  content: "OUR MEMBER";
  opacity: 0.03;
  font-weight: 700;
  font-size: 228px;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .l-interview::before {
    font-size: 120px;
    top: -85px;
  }
}
@media screen and (max-width: 599px) {
  .l-interview::before {
    font-size: 80px;
    top: -48px;
  }
}
.l-interview::before {
  top: -40px;
  text-align: center;
}
.l-interview .content__title--center {
  padding-top: 130px;
}
.l-interview .content__title__sub--center {
  margin-top: 30px;
  font-size: 28px;
  color: #000000;
}
.l-interview__cards {
  margin-top: 40px;
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.l-interview__card {
  width: 291px;
  height: 620px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.l-interview__card__img {
  position: relative;
  width: 100%;
  height: 377px;
}
.l-interview__card__img::before {
  content: "";
  height: 50%;
  width: 100%;
  background-color: #c2c29e;
  position: absolute;
  bottom: 0;
  left: 0;
}
.l-interview__card__img img {
  height: 100%;
  position: relative;
  z-index: 10;
}
.l-interview__card:nth-child(2) .l-interview__card__img::before {
  background-color: #9ba36e;
}
.l-interview__card:nth-child(3) .l-interview__card__img::before {
  background-color: #82a988;
}
.l-interview__card__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
}
.l-interview__card__text {
  color: #666666;
  font-size: 18px;
  padding: 0 10px;
}
.l-interview .cta {
  margin-top: 0;
  padding: 13px 53px;
  color: #42D76C;
  border: 1px solid #42D76C;
  font-size: 18px;
}

/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .l-interview::before {
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
  }
  .l-interview__cards {
    justify-content: center;
    gap: 24px;
  }
}
.l-work {
  position: relative;
}
.l-work__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.l-work__bg svg {
  position: absolute;
}
.l-work__container {
  position: relative;
  z-index: 10;
  padding-top: 138px;
  text-align: center;
}
.l-work__sub {
  font-size: 24px;
}
.l-work__main {
  margin-top: 30px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5em;
}
.l-work__text {
  margin-top: 47px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
}
.l-work__text:last-of-type {
  margin-top: 16px;
}
.l-work .cta {
  margin: 0 auto;
  margin-top: 100px;
  padding: 18px 88px;
  color: #42D76C;
  border: 1px solid #42D76C;
}
.l-work .cta:active {
  color: #fff;
  background-color: #42D76C;
}

.green-circle {
  top: 15%;
  right: 11%;
}

.white-circle {
  top: 20%;
  right: 10%;
}

.green-triangle {
  top: 24%;
  left: 15%;
}

.green-circle-border {
  top: 72%;
  left: 12%;
}

.white-square {
  top: 98%;
  left: 25%;
}

.green-square {
  top: 95%;
  left: 24%;
}

.green-triangle-2 {
  top: 105%;
  right: 26%;
}

.white-triangle {
  top: 109%;
  right: 25%;
}

.green-square-border {
  top: 66%;
  right: 15%;
}

/***************************************************
 media:tab
***************************************************/
@media screen and (max-width: 1024px) {
  .l-work__sub {
    font-size: 18px;
  }
  .l-work__main {
    font-size: 40px;
  }
  .l-work__text {
    font-size: 20px;
  }
}
/***************************************************
800px
***************************************************/
@media screen and (max-width: 800px) {
  .green-circle,
  .white-circle,
  .green-triangle,
  .green-circle-border,
  .white-square,
  .green-square,
  .green-triangle-2,
  .white-triangle,
  .green-square-border {
    width: 50px;
  }
  .green-triangle {
    left: 8%;
  }
}
/***************************************************
 media:sp
***************************************************/
@media screen and (max-width: 599px) {
  .l-work__sub {
    font-size: 14px;
  }
  .l-work__main {
    font-size: 32px;
  }
  .l-work__text {
    font-size: 16px;
  }
  .green-square {
    left: 5%;
  }
  .white-square {
    left: 6%;
  }
  .green-circle-border {
    left: 5%;
  }
  .green-square-border {
    right: 5%;
  }
  .green-triangle-2 {
    right: 5%;
  }
  .white-triangle {
    right: 6%;
  }
}
.l-store {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l-store__title {
  font-size: 48px;
  font-weight: bold;
}
.l-store__text {
  margin-top: 16px;
  font-size: 20px;
}

.footer {
  height: 300px;
  color: #fff;
  background-color: #666666;
  position: relative;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  height: 154px;
}
.footer__title {
  font-size: 40px;
  font-weight: bold;
}
.footer__sub {
  display: inline-block;
  font-size: 18px;
  margin-top: 11px;
}
.footer .sns-icons {
  margin-top: 26px;
}
.footer .sns-icons svg {
  margin-right: 11px;
  cursor: pointer;
}
.footer .sns-icons svg:last-child {
  margin-right: 0;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(3, 27px);
  text-align: right;
  gap: 36px 54px;
}
.footer__menu li:nth-child(3) {
  margin-bottom: 0;
}
.footer__menu li:last-child {
  margin-bottom: 0;
}
.footer .copyrights {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/***************************************************
 sp
***************************************************/
@media screen and (max-width: 599px) {
  .footer {
    height: 614px;
  }
  .footer__container {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 75px;
  }
  .footer__l {
    text-align: center;
  }
  .footer__menu {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    text-align: center;
  }
  .copyrights {
    bottom: 23px;
  }
}/*# sourceMappingURL=style.css.map */