// config
@import "config/colors";
@import "config/fonts";
@import "config/animation";
@import "config/wrap";

// mixin
@import "mixin/breakpoints";
@import "mixin/mixin";

// main page components
@import "components/loader";
@import "components/contents";
@import "components/button";
@import "components/header";
@import "components/mv";
@import "components/container";
@import "components/swiper";
@import "components/news";
@import "components/title";
@import "components/about";
@import "components/business";
@import "components/brand";
@import "components/recruit";

// sub page components
@import "components/top";

// news.html
@import "components/category";

// contact.html
@import "components/contact";

// business.html
@import "components/action";

// about.html
@import "components/mission";
@import "components/ceo";
@import "components/company";
@import "components/map";

// recruit.html
@import "layouts/l-main";
@import "layouts/l-interview";
@import "layouts/l-work";

// store.html
@import "layouts/l-store";

@import "components/footer";
