// config
@import 'config/colors';
@import 'config/fonts';
@import 'config/wrap';

// mixin
@import 'mixin/breakpoints';

// components
@import 'components/header';
@import 'components/mv';
@import 'components/container';
@import 'components/swiper';
@import 'components/news';
@import 'components/title';

@import 'components/footer';