@mixin sectionBgText($contentText) {
  position: relative;
  &::before {
    position: absolute;
    z-index: 1;
    top: -200px;
    content: "#{$contentText}";
    opacity: 0.03;
    font-weight: 700;
    font-size: 228px;
    white-space: nowrap;
  }

  /***************************************************
   sp
  ***************************************************/
  @include media(sp) {
    &::before {
      font-size: 80px;
      top: -48px;
    }
  }
}
