.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpSm {
  animation-name: fadeUpAnimeSm;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes fadeUpAnimeSm {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideTopRight {
    animation-name: slideTopRightAnime;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    transform: translate(100% 100%);
}

@keyframes slideTopRightAnime {
    from {
        transform: translate(100px, -100px);
    }
    to {
        transform: translate(0);
    }
}