.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpSm {
  animation-name: fadeUpAnimeSm;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3s;
}

@keyframes fadeUpAnimeSm {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

.top-page {
  & .fadeDown {
    animation-delay: 3.5s;
  }
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideTopRight {
  animation-name: slideTopRightAnime;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transform: translate(100% 100%);
}

@keyframes slideTopRightAnime {
  from {
    transform: translate(100px, -100px);
  }
  to {
    transform: translate(0);
  }
}

.float {
  animation: floatAnime 5s infinite;

  &-delay-1 {
    animation: floatAnime 5.5s infinite;
    animation-delay: .5s;
  }

  &-delay-2 {
    animation: floatAnime 4.5s infinite;
    animation-delay: .2s;
  }
}

@keyframes floatAnime {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}