.about {
  margin-top: 210px;
  position: relative;
  @include sectionBgText(ABOUT VISIONS);

  & .thumbnail {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    display: inline-block;
    width: 50vw;
    height: 100%;
    object-fit: cover;
  }
}

.leaf {
  position: absolute;
  top: 529px;
  left: 461px;
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .about {
    margin-top: 86px;

    & .thumbnail {
      top: 95px;
      right: 50%;
      transform: translateX(50%);
      height: auto;
      width: calc(100vw - 40px);
    }

    & .content {
      &__title::after {
        display: none;
      }

      &__box__title {
        margin-top: 289px;
      }
    }
  }
}
