.about {
  margin-top: 210px;
  position: relative;
  @include sectionBgText(ABOUT VISIONS);

  & .thumbnail {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    display: inline-block;
    width: 50vw;
    height: 100%;
    object-fit: cover;
  }
}

.leaf {
  position: absolute;
  top: 344px;
  left: 296px;
}

/***************************************************
 tab
***************************************************/
@include media(tab) {
  .about {
    display: grid;
    gap: 64px;

    & .container {
      max-width: 650px;
    }

    &__title {
      width: 100%;
    }    

    & .thumbnail {
      position: relative;
      margin-left: auto;
      object-position: center;
      width: 100%;
      height: 300px;
      grid-row: 2/2;
    }
  }

  .leaf {
    top: 305px;
  }
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .about {
    margin-top: 86px;
    gap: 12px;
    & .thumbnail {
      padding: 0 20px;
      height: 240px;
    }
  }

  .leaf {
    top: 194px;
    left: 270px;
  }
}
