.action {
  &__container {
    position: absolute;
    z-index: 11;
    top: 140px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__title {
    &__1,
    &__2 {
      font-weight: bold;
      font-size: 48px;
      display: inline-block;
      padding: 11px 78px;
      background-color: $cWhite;
      margin-right: 19.7vw;
    }
    &__2 {
      margin-top: 34px;
    }
  }
  &__text {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
    color: $cWhite;
    width: 398px;
    line-height: 1.8em;
    margin-right: 11.6vw;
  }

  &__cards {
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__card {
    width: 314px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    text-align: center;

    &__title {
      position: relative;
      font-size: 37px;
      font-weight: bold;
      &::before {
        content: "01";
        position: absolute;
        top: -38px;
        left: -31px;
        color: $cLightGreen;
        font-size: 50px;
        font-family: "Nothing You Could Do", cursive;
        transform: rotate(-13.5deg);
      }
    }

    &:nth-child(2) {
      & .action__card__title {
        &::before {
          content: "02";
        }
      }
      & .action__card__img {
        object-fit: contain;
        width: 100%;
      }
    }

    &:nth-child(3) {
      & .action__card__title {
        &::before {
          content: "03";
        }
      }
      & .action__card__img {
        object-fit: contain;
        width: 100%;
      }  
    }

    &__img {
      height: 221px;
      width: 135px;
    }

    &__text {
      font-size: 24px;
      line-height: 1.5em;
    }
  }
}

.wrapper {
  margin-top: 143px;
  position: relative;
}

.action-thumbnail {
  position: relative;
  & img {
    position: relative;
    width: 55vw;
    z-index: 10;
  }
  &::after {
    content: "";
    width: 76vw;
    position: absolute;
    top: 70px;
    right: 0;
    border-bottom: 649px solid $cLightGreen; /* 高さ */
    border-left: 253px solid transparent; /* 左側の角度 */
  }
}

.br-tab {
  display: none;
}

/***************************************************
 1270px
***************************************************/
@media screen and (max-width: 1270px) {
  .action {
    &__title {
      &__1,
      &__2 {
        margin-right: 12vw;
      }
    }
    &__text {
      margin-right: 6vw;
    }
    &__cards {
      margin-top: 300px;
    }
  }
  .action-thumbnail {
    &::after {
      border-bottom: 570px solid #86ac41;
    }
  }
}

/***************************************************
 media:tab
***************************************************/
@include media(tab) {
  .action {
    &__title {
      &__1,
      &__2 {
        margin-right: 0;
        padding: 11px 64px;
        font-size: 40px;
      }
    }
    &__container {
      position: relative;
      transform: translateY(-360px);
    }
    &__text {
      margin-top: 168px;
      color: #000000;
      margin-right: 0;
      text-align: center;
      width: 100%;
    }

    &__cards {
      margin-top: 0;
      flex-direction: column;
      gap: 104px;
      align-items: center;  
      transform: translateY(-64px);    
    }

    &__card {
      width: 400px;
    }    
  }
  .action-thumbnail {
    & img {
      width: 65vw;
    }
    &::after {
      border-bottom: 50vw solid #86ac41;
    }
  }
  .br-tab {
    display: inline;
  }
}

@media screen and (max-width: 800px) {
  .action {
    &__title {
      &__1,
      &__2 {
        font-size: 32px;
      }
    }
    &__text {
      margin-top: 120px;
    }
  }
  .action-thumbnail {
    & img {
      width: 67vw;
    }
    &::after {
      border-bottom: 46vw solid #86ac41;
    }
  }
}

@media screen and (max-width: 710px) {
  .aciton {
    &__text {
      margin-top: 140px;
    }
  }
}

/***************************************************
 media:sp
***************************************************/
@include media(sp) {
  .action {
    margin-top: 70px;

    &__container {
      top: 276px;
    }

    &__title {
      &__1,
      &__2 {
        padding: 5px 15px;
        font-size: 28px;
        line-height: 1.5em;
      }
      &__2 {
        margin-top: 11px;
      }
    }

    &__text {
      font-size: 20px;
      margin-top: 52px;
    }

    & .wrapper {
      margin-top: 68px;
    }

    &__cards {
      margin-top: 34px;
      gap: 94px;
      transform: translateY(0);
    }

    &__card {
      width: 350px;
      gap: 40px;
      &__title {
        font-size: 24px;
      }
      &__img {
        height: 175px;
        width: 107px;
      }
      &__text {
        font-size: 20px;
      }

      &:nth-child(2) {        
        & .action__card__img {          
          width: 299px;
        }
      }
    }
  }
  .action-thumbnail {
    & img {
      width: 78vw;
    }
    &::after {
      width: 81vw;
      top: 30px;
      border-bottom: 61vw solid #86ac41;
      border-left: 56px solid transparent;
    }
  }
  .br-tab {
    display: inline;
  }
}

@media screen and (max-width: 450px) {
  .action {
    &__container {
      top: 300px;
    }

    &__title {
      &__1,
      &__2 {
        font-size: 20px;
      }
    }
    &__text {
      font-size: 16px;
    }
  }
}
