.business {
  margin-top: 193px;
  background-color: $cBgGreen;
  @include sectionBgText(BUSINESS);
  &::before {
    top: -27px;
    color: $cWhite;
    opacity: 0.18;
  }

  &__container {
    padding-top: 228px;
    padding-bottom: 175px;
    color: $cWhite;
  }

  & .container-r {
    width: fit-content;
    margin-left: auto;
  }

  // _content.scss
  & .content {
    &__title {
      margin-top: 24px;
      &::after {
        background-color: $cWhite;
      }
      &__sub {
        color: $cWhite;
      }
    }
    &__box {
      width: 576px;
      &__title {
        margin-top: 64px;
      }
    }
  }

  // _button.scss
  & .cta {
    color: $cWhite;
    border: 3px solid $cWhite;
  }

  & .thumbnail-box {
    &::after {
      content: "";
      display: inline-block;
      height: 480px;
      width: 660px;
      position: absolute;
      z-index: 10;
      top: 268px;
      left: -40px;
      border: 10px solid $cWhite;
      border-radius: 0 144px 144px 0;
    }
  }

  & .thumbnail {
    height: 480px;
    width: 650px;
    position: absolute;
    top: 248px;
    left: -50px;
    display: inline-block;
    object-fit: cover;
    border-radius: 0 144px 144px 0;
  }
}

.leaf-white {
  position: absolute;
  top: 617px;
  right: 78px;
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .business {
    margin-top: 64px;
  }
}