.cta {
  margin-top: 73px;
  display: block;
  width: fit-content;
  color: $cLightGreen;
  padding: 18px 68px;
  font-size: 24px;
  border: 1px solid $cLightGreen;
  border-radius: 48px;
  transition: all .3s ease-in-out;

  &:hover {
    letter-spacing: 1px;
  }
  &:active {
    color: $cWhite;
    background-color: $cLightGreen;
  }
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .cta {
    margin: 0 auto;
    margin-top: 30px;
    padding: 16px 40px;
    font-size: 16px;
  }
}