.category {
  margin: 0 auto;
  margin-top: 98px;
  max-width: 936px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    & h3 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
    & .active {
      background-color: $cLightGreen;
      color: $cWhite;
      padding: 0 8px;
      line-height: 1.5em;
    }

    & span {
      cursor: pointer;
    }
  }

  &__contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }

  &__tab {
    display: flex;
    justify-content: center;
    gap: 32px;

    &__number {
      display: inline-block;
      text-align: center;
      line-height: 34px;
      color: #666666;
      width: 30px;
      height: 34px;
      border: 1px solid #666666;
      cursor: pointer;
      &.active {
        border: none;
        color: $cWhite;
        background-color: $cLightGreen;
      }
    }
  }
}

.card {
  width: 300px;
  background-color: $cWhite;
  padding-bottom: 15px;

  &__image {
    width: 100%;
    height: 194px;
    object-fit: cover;
  }

  &__info {
    margin-top: 16px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 12px;
    line-height: 1.8em;
  }

  &__tag {
    background-color: $cLightGreen;
    color: $cWhite;
    padding: 0 12px;
  }

  &__date {
    color: #898989;
  }

  &__title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 12px;
    height: 63px;
  }

  &__more {
    margin-top: 22px;
    display: block;
    padding: 0 12px;
    text-align: right;
    font-size: 14px;
    color: #8c8c8c;
  }
}

/***************************************************
 media:tab
***************************************************/
@include media(tab) {
  .category {
    padding: 0 20px;
    &__image {
        height: 215px;
    }

    &__contents {
      justify-content: center;
      gap: 32px;
    }
  }

  .card {
  }
}
/***************************************************
 media:sp
***************************************************/
@include media(sp) {
  .category {
    &__btn {
      gap: 8px;
      & span {
        font-size: 14px;
      }
    }
  }
  .card {
    width: 350px;
  }
}
