.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  /***************************************************
    992px
  ***************************************************/
  @media screen and (max-width: 1024px) {
    max-width: 960px;
  }
  /***************************************************
    768px
  ***************************************************/
  @media screen and (max-width: 768px) {
    max-width: 720px;
  }
  /***************************************************
    576px
  ***************************************************/
  @media screen and (max-width: 576px) {
    max-width: 540px;
  }
}
