.content {
  &__title {
    font-size: 48px;
    font-weight: bold;
    width: fit-content;
    position: relative;

    &::after {
      height: 5px;
      width: 215px;
      background-color: $cLightGreen;
      content: "";
      position: absolute;
      left: 110%;
      top: 50%;
      transform: translateY(50%);
    }
  }

  &__title__sub {
    display: inline-block;
    width: 475px;
    font-size: 28px;
    color: $cLightGreen;
  }

  &__box {
    position: relative;
    width: 475px;
    max-width: 576px;
    &__title {
      margin-top: 98px;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.5em;
    }
    &__text {
      margin-top: 27px;
      font-size: 24px;
      line-height: 1.5em;
    }
  }
}

/***************************************************
 tab
***************************************************/
@include media(tab) {
  .content {
    &__title {      
      &__sub {
        width: 100%;
      }
      &::after {
        display: none;
      }
    }
    &__box {
      width: 100%;
      &__title {
        margin-top: 0;
      }
    }
  }
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .content {
    &__title {
      font-size: 36px;
      &__sub {
        font-size: 16px;
      }      
    }
    &__box {
      width: 100%;
      &__title {
        font-size: 32px;        
      }
      &__text {
        margin-top: 16px;
        font-size: 20px;
        line-height: 1.5em;
      }
    }
  }
}

/***************************************************
 424px
***************************************************/
@media screen and (max-width: 424px) {
  .content {
    &__title {
      font-size: 32px;
    }
    &__box {
      &__title {
        font-size: 24px;
        margin-top: 24px;
        letter-spacing: 0.5px;
      }
      &__text {
        font-size: 16px;   
        margin-top: 11px;   
        letter-spacing: 0.5px;  
      }
    }
  }
}