.contact {
  max-width: 840px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 143px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;

  & label,
  input,
  textarea {
    display: block;
    font-size: 24px;
  }

  & input {
    background-color: $cWhite;
    width: 100%;
    height: 52px;
    border: 1px solid #777777;
    border-radius: 14px;
    padding: 8px 16px;
    &::placeholder {
      color: #e4e4e4;
    }
  }

  & textarea {
    background-color: $cWhite;
    width: 100%;
    border: 1px solid #777777;
    border-radius: 14px;
    padding: 8px 16px;
  }

  &__btn {
    background-color: $cWhite;
    font-size: 16px;
    border: 1px solid #000000;
    width: 200px;
    padding: 18px 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 113px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #000000;
      color: $cWhite;
    }
  }
}

/***************************************************
 media:sp
***************************************************/
@include media(sp) {
  .contact {
    padding-top: 48px;
    padding-bottom: 64px;
    & label,
    input,
    textarea {
      font-size: 20px;
    }
    & input {
      height: 40px;
    }
    &__btn {
      margin-top: 40px;
    }
  }
}
