.footer {  
  height: 300px;
  color: $cWhite;
  background-color: $cFooterBackground;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;  
    padding-top: 75px;
    height: 154px;
  }

  &__title {
    font-size: 40px;
    font-weight: bold;
  }

  &__sub {
    display: inline-block;
    font-size: 18px;
    margin-top: 11px;
  }

  & .sns-icons {
    margin-top: 26px;
    & svg {
      margin-right: 11px;
      cursor: pointer;      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 27px);
    text-align: right;
    gap: 36px 54px;

    & li {      
      &:nth-child(3) {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & .copyrights {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .footer {
    height: 614px;
    &__container {
      flex-direction: column;
      gap: 40px;
      padding-bottom: 75px;
    }

    &__l {
      text-align: center;
    }

    &__menu {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 31px;
      text-align: center;      
    }
  }

  .copyrights {
    bottom: 23px;
  }
}
