.header {    
  display: flex;
  flex-direction: row;
  padding: 12px 61px 12px 112px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  transition: all .3s ease;

  &.change-color {
    color: $cBlack;
    backdrop-filter: blur(10px);

    & .header__menu {
      color: $cBlack;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
  }

  &__nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__menu {
    display: flex;    
    flex-direction: row;
    color: $cWhite;
    & li {
        margin-right: 45px;
    }
  }

  &__button {
    padding: 12px 46px;
    border-radius: 38px;
    font-weight: bold;
    color: $cWhite;
    background-color: #67C308;
  }
}
