.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 60px;
  z-index: 9999;
  width: 100%;
  max-width: 2500px;
  transition: all 0.3s ease;  

  &.change-color {
    color: $cBlack;
    backdrop-filter: blur(10px);
    & .header__menu {
      color: $cBlack;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    padding-left: 112px;
  }

  &__nav {
    padding-left: 38px;
    padding-right: 38px;
    width: 63vw;
    max-width: 1540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    color: $cWhite;
    & li {
      margin-right: 40px;
      font-size: 16px;
    }
  }

  &__button {
    padding: 15px 15px 15px 28px;
    border-radius: 38px;
    font-weight: bold;
    color: $cWhite;
    background-color: #67c308;
    display: flex;
    gap: 10px;
    & svg {
      width: 20px;
      height: 17px;
    }
    & .online-shop {
      font-size: 16px;
    }
  }

  &__nav__button {
    display: none;
  }
}

/***************************************************
1360px
***************************************************/
@media screen and (max-width: 1360px) {
  .header {
    &__menu {
      & li {
        margin-right: 32px;
      }
    }
  }
}
/***************************************************
 1317px
***************************************************/
@media screen and (max-width: 1317px) {
  .header {
    &__menu {
      & li {
        margin-right: 28px;
      }
    }
  }
}
/***************************************************
 1239px
***************************************************/
@media screen and (max-width: 1239px) {
  .header {
    &__nav {
      padding-left: 30px;
    }
    &__menu {
      & li {
        margin-right: 16px;
      }
    }
  }
}
/***************************************************
 1143px
***************************************************/
@media screen and (max-width: 1143px) {
  .header {
    &__nav {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__menu {
      & li {
        margin-right: 16px;
      }
    }
    &__button {
      gap: 5px;
    }
  }
}
/***************************************************
 1057px
***************************************************/
@media screen and (max-width: 1057px) {
  .header {
    &__menu {
      & li {
        margin-right: 12px;
      }
    }
  }
}

/***************************************************
 media:tab
***************************************************/
@include media(tab) {
  .header {
    &__title {
      padding-left: 70px;
      color: $cWhite;
    }

    &.change-color {
      & .header__title {
        color: $cBlack;
      }
    }

    /***************************************************
    ナビゲーションメニュー
    ***************************************************/
    &__menu {      
      position: absolute;
      top: 0;
      left: 120%;
      z-index: 999;
      background-color: $cBgGreen;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      transition: all ease .5s;
      
      // activeクラス付与時
      &.active {
        top: 0;
        left: 0;
      }
      
      &::before {
        color: $cWhite;
        content: "Visions";
        font-size: 32px;
        font-weight: bold;        
      }

      & li {
        color: $cWhite;
      }
    }

    &__button {
      padding: 0;
      border-radius: 0;
      width: 70px;
      height: 60px;
      display: grid;
      place-items: center;
      position: absolute;
      z-index: 9999;
      right: 60px;
      & svg {
        height: 33px;
        width: 33px;
      }
      & .online-shop,
      .angle {
        display: none;
      }
    }

    /***************************************************
    ナビゲーションボタン 
    ***************************************************/
    &__nav__button {
      display: inline-block;
      background-color: $cWhite;
      position: absolute;
      z-index: 9999;
      top: 0;
      right: 0;
      height: 60px;
      width: 60px;
      cursor: pointer;
      transition: all ease 0.3s;

      & span {
        height: 4px;
        width: 35px;
        position: absolute;
        background-color: $cBgGreen;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease 0.3s;

        &:nth-child(1) {
          top: 18px;
        }
        &:nth-child(2) {
          top: 28px;
        }
        &:nth-child(3) {
          top: 38px;
        }
      }

      // activeクラスが付与された時
      &.active {
        & span {
          &:nth-child(1) {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
          }
          &:nth-child(2) {
            transform: translateX(-100%);
            opacity: 0;
          }
          &:nth-child(3) {
            top: 50%;
            left: 50%;
            transform: translateX(-50%) rotate(-45deg);
          }
        }
      }
    }
  }
}


/***************************************************
 media:sp
***************************************************/
@include media(sp) {
  .header {
    &__title {
      padding-left: 20px;
    }
  }
}