$titleTop: 353px;
$titleLeft: -165px;
$mv-content-width: 63vw;
$mv-content-height: 800px;

.mv {
  height: 900px;
  min-height: 650px;
  &__content {
    height: $mv-content-height;
    width: $mv-content-width;
    position: absolute;
    top: 0;
    right: 0;
    color: $cBlack;
    max-width: 1540px;
    min-height: 650px;
  }

  &__title {
    font-size: 56px;
    letter-spacing: 2px;
    font-weight: bold;
    position: absolute;
    left: -343px;
    top: 353px;
  }

  &__sub {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: -334px;
    top: 432px;
    margin-top: 8px;
    letter-spacing: 1px;
    & .fadeUpsm {
      animation-delay: 2.8s;
    }
  }

  & .bg-image {    
    background-image: url("../image/mv-img_compressed.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 0 273px;
    height: $mv-content-height;
    width: $mv-content-width;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    overflow: hidden;
    max-width: 1540px;
    min-height: 650px;

    &::before {
      font-size: 56px;
      letter-spacing: 2px;
      font-weight: bold;
      position: absolute;
      left: -343px;
      top: 353px;
      color: $cWhite;
      content: "目元から環境に優しく";
      z-index: 1;

      // animation
      animation-name: fadeUpAnime;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 2.5s;
    }
    &::after {
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      left: -337px;
      top: 441px;
      letter-spacing: 1px;
      color: $cWhite;
      z-index: 1;
      content: "Visionsはメガネを通して社会のサステナビリティを向上させます";

      // animaiton
      animation-name: fadeUpAnimeSm;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 3s;
    }
  }
}

.grasses {
  position: absolute;
  top: 244px;
  left: -412px;
  display: none;
}

.br-sp {
  display: none;
}

/***************************************************
 1250px
***************************************************/
@media screen and (max-width: 1250px) {
  .mv {
    &__title {
      left: -200px;
    }
    &__sub {
      left: -200px;
    }
    & .bg-image {
      &::before {
        left: -200px;
      }
      &::after {
        left: -200px;
      }
    }
  }
  .grasses {
    left: -362px;
  }
}

/***************************************************
 1150px
***************************************************/
@media screen and (max-width: 1150px) {
  .mv {
    &__title {
      left: -250px;
    }
    &__sub {
      left: -250px;
    }
    & .bg-image {
      &::before {
        left: -250px;
      }
      &::after {
        left: -200px;
      }
    }
  }
  .grasses {
    left: -312px;
  }
}

/***************************************************
 tab
***************************************************/
@include media(tab) {
  $mv-content-height: 100vh;
  $mv-content-width: 100vw;

  .mv {
    height: $mv-content-height;
    &__content {
      height: $mv-content-height;
      width: $mv-content-width;
    }

    &__title {
      font-size: 48px;
      color: $cWhite;
      margin-top: 50vh;
      position: relative;
      text-align: center;
      top: 0;
      left: 0;            
      z-index: 20;
    }

    &__sub {
      color: $cWhite;
      text-align: center;
      padding-right: 0;      
      position: relative;
      top: 0;
      left: 0;
      z-index: 20;
      line-height: 1.5em;
    }

    & .bg-image {
      height: $mv-content-height;
      width: $mv-content-width;
      border-radius: 0;
      background-position: center -25px;

      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }

  .green-underline {
    text-decoration: underline wavy $cGreen;
  }
  
  .grasses {
    display: none;
  }
  .br-sp {
    display: inline;
  }
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .mv {
    &__title {
      font-size: 40px;                  
    }
    &__sub {
      font-size: 24px;            
    }

    & .bg-image {
      background-size: cover;
      background-position: center;
    }
  } 
}

/***************************************************
 480px
***************************************************/
@media screen and (max-width: 480px) {
  .mv {
    &__title {
      font-size: 32px;
    }
    &__sub {
      font-size: 16px;
    }
  }
}