.news {
  @include sectionBgText(VISIONS NEWS);

  .container {
    overflow: visible;
  }

  &__list {
    padding-top: 30px;
    &__item {
      width: 296px;
      margin-right: 55px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__image {
      height: 227px;
      width: 100%;
      border-radius: 13px;
    }
    &__info {
      padding-top: 16px;
      display: flex;
      justify-content: space-between;

      & .date {
        font-size: 18px;
        height: 28px;
        line-height: 28px;
        color: $cGray;
      }
      & .tag {
        background-color: $cLightGreen;
        color: $cWhite;
        width: 134px;
        height: 28px;
        line-height: 28px;
        text-align: center;
      }
    }
    &__title {
      padding-top: 16px;
      line-height: 1.5em;
    }
  }
}

@keyframes animate-bg-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
