.news {
  @include sectionBgText(VISIONS NEWS);
  overflow: visible;

  .container {
    overflow: visible;
    padding: 0;
    margin: 0 20px;
  }

  .swiper {
    overflow: visible;
  }

  &__list {
    padding-top: 30px;    
    &__item {
      width: 296px;
      margin-right: 55px;
      transition: all ease .3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    &__image {
      height: 227px;
      width: 100%;
      border-radius: 13px;
      object-fit: cover;
    }
    &__info {
      padding-top: 16px;
      display: flex;
      justify-content: space-between;

      & .date {
        font-size: 18px;
        height: 28px;
        line-height: 28px;
        color: $cGray;
      }
      & .tag {
        background-color: $cLightGreen;
        color: $cWhite;
        width: 134px;
        height: 28px;
        line-height: 28px;
        text-align: center;
      }
    }
    &__title {
      padding-top: 16px;
      line-height: 1.5em;
    }
  }
}

@keyframes animate-bg-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/***************************************************
 sp
***************************************************/
@include media(sp) {
  .news {
    margin-top: 72px;
  }
}