.title {
  font-size: 48px;
  font-weight: bold;
  width: fit-content;
  &__sub {
    font-size: 28px;
    color: $cLightGreen;
  }
}

// .content {
//   &__title {
//     margin-top: 98px;
//     font-size: 36px;
//     font-weight: bold;
//   }
//   &__text {
//     margin-top: 27px;
//     font-size: 24px;
//     line-height: 1.5em;
//   }
// }
