.top {
  height: 422px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  
  &__container {
    text-align: center;

    &__title {
      font-size: 48px;
      font-weight: bold;
      color: $cWhite;
    }
    &__sub {
      font-size: 18px;
      font-weight: bold;
      color: $cWhite;
    }
  }
}

.news-html {
  .top {
    // background-image: url("../../image/bg-news.jpg");
    background-image: url("https://github.com/kuwa-9710/visions_lunettes/blob/main/image/bg-news.jpg?raw=true");
  }
}

.contact-html {
  .top {
    background-image: url("https://github.com/kuwa-9710/visions_lunettes/blob/main/image/bg-recruit.jpg?raw=true");
  }
}

.business-html {
  .top {
    background-image: url("https://github.com/kuwa-9710/visions_lunettes/blob/main/image/business-image.jpg?raw=true");
  }
}